<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container wow fadeInUp">
      <div class="banner-swiper swiper-container">
        <ul class="banner-list swiper-wrapper">
          <li class="banner-item swiper-slide">
            <img src="/public/images/banner.jpg" alt="山东立德树人学会">
          </li>
          <li class="banner-item swiper-slide">
            <img src="/public/images/banner.jpg" alt="山东立德树人学会">
          </li>
          <li class="banner-item swiper-slide">
            <img src="/public/images/banner.jpg" alt="山东立德树人学会">
          </li>
        </ul>
        <div class="banner-pagination swiper-pagination"></div>
      </div>
    </section>
    <section class="news-container max-center">
      <ul class="news-cate-list">
        <li class="news-cate-item wow fadeInUp">
          <div class="title-box">
            <div class="title">学会要闻</div>
            <a class="more" href="">更多</a>
          </div>
          <ul class="news-list">
            <li class="news-item">
              <a href="">姜书记谈了红色文化专委会的工作安排：立德树人跟党走；</a>
            </li>
            <li class="news-item">
              <a href="">姜波会长首先作了题为《传承红色基因，走好新时代长征路》的主旨报告</a>
            </li>
            <li class="news-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="news-item">
              <a href="">闭幕式上，学会法定代表人、副会长李毅教授作大会总结。</a>
            </li>
          </ul>
        </li>
        <li class="news-cate-item wow fadeInUp">
          <div class="title-box">
            <div class="title">活动预告</div>
            <a class="more" href="">更多</a>
          </div>
          <ul class="news-list">
            <li class="news-item">
              <a href="">姜书记谈了红色文化专委会的工作安排：立德树人跟党走；</a>
            </li>
            <li class="news-item">
              <a href="">姜波会长首先作了题为《传承红色基因，走好新时代长征路》的主旨报告</a>
            </li>
            <li class="news-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="news-item">
              <a href="">闭幕式上，学会法定代表人、副会长李毅教授作大会总结。</a>
            </li>
          </ul>
        </li>
        <li class="news-cate-item wow fadeInUp">
          <div class="title-box">
            <div class="title">学会论坛</div>
            <a class="more" href="">更多</a>
          </div>
          <ul class="news-list">
            <li class="news-item">
              <a href="">姜书记谈了红色文化专委会的工作安排：立德树人跟党走；</a>
            </li>
            <li class="news-item">
              <a href="">姜波会长首先作了题为《传承红色基因，走好新时代长征路》的主旨报告</a>
            </li>
            <li class="news-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="news-item">
              <a href="">闭幕式上，学会法定代表人、副会长李毅教授作大会总结。</a>
            </li>
          </ul>
        </li>
        <li class="news-cate-item wow fadeInUp">
          <div class="title-box">
            <div class="title">重要事项</div>
            <a class="more" href="">更多</a>
          </div>
          <ul class="news-list">
            <li class="news-item">
              <a href="">姜书记谈了红色文化专委会的工作安排：立德树人跟党走；</a>
            </li>
            <li class="news-item">
              <a href="">姜波会长首先作了题为《传承红色基因，走好新时代长征路》的主旨报告</a>
            </li>
            <li class="news-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="news-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="news-item">
              <a href="">闭幕式上，学会法定代表人、副会长李毅教授作大会总结。</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <section class="news2-container max-center">
      <ul class="news2-cate-list">
        <li class="news2-cate-item wow fadeInUp">
          <div class="title">学术交流</div>
          <ul class="cate-list">
            <li class="cate-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="cate-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
          </ul>
          <div class="more-box">
            <a href="" class="more">更多</a>
          </div>
        </li>
        <li class="news2-cate-item wow fadeInUp">
          <div class="title">学术媒体</div>
          <ul class="cate-list">
            <li class="cate-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="cate-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
          </ul>
          <div class="more-box">
            <a href="" class="more">更多</a>
          </div>
        </li>
        <li class="news2-cate-item wow fadeInUp">
          <div class="title">学术海报</div>
          <ul class="cate-list">
            <li class="cate-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">围绕道德，以道德为主线的小故事、小文章；</a>
            </li>
            <li class="cate-item">
              <a href="">张振江副会长谈一谈雷锋精神专委会的工作安排</a>
            </li>
            <li class="cate-item">
              <a href="">刘长明教授谈传统文化专委会的工作安排</a>
            </li>
          </ul>
          <div class="more-box">
            <a href="" class="more">更多</a>
          </div>
        </li>
      </ul>
    </section>
    <section class="video-container max-center wow fadeInUp">
      <div class="title-box">
        <div class="title">红色影片</div>
        <a href="" class="more">更多</a>
      </div>
      <div class="video-swiper swiper-container">
        <ul class="video-list swiper-wrapper">
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
          <li class="video-item swiper-slide">
            <a href="">
              <img src="/public/images/video.jpg" alt="上甘岭">
            </a>
          </li>
        </ul>
        <div class="video-pagination swiper-pagination"></div>
      </div>
    </section>
    <section class="mixins-container">
      <div class="mixins-box max-center">
        <div class="download-container wow fadeInLeft">
          <div class="title-box">
            <div class="title">资料下载</div>
            <a href="">更多</a>
          </div>
          <ul class="download-list">
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
            <li class="download-item">
              <a href="">
                <div class="icon">
                  <img src="/public/images/download.png" alt="资料">
                </div>
                <p>资料</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="link-container wow fadeInRight">
          <div class="title-box">
            <div class="title">链接网站</div>
            <a href="">更多</a>
          </div>
          <ul class="link-list">
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link1.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link2.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link3.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link4.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link5.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link6.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link7.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
            <li class="link-item">
              <a href="" target="_blank">
                <img src="/public/images/link8.jpg" alt="全国哲学社会科学工作办公室">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>